{% extends "base.html.twig" %}

{% block body %}
    <div id="homep">
            <div class="landing-textp">
                <div class="container page">
        <div class="paragraphe">
            <form action="{{ path('security_connexion') }}" method="post">
                <div class="form-group">
                    <input class="form-control" name="_username" placeholder="Adresse email.." required type="text">
                </div>
                <div class="form-group">
                    <input class="form-control" name="_password" placeholder="Mot de passe.." required type="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Connexion</button>
                </div>
            </form>
        </div>
    </div>
            </div>
    </div>
    
        
        
{% endblock %}
