<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Laila:400,700" rel="stylesheet"> 

        {% block stylesheets %}

        {{ encore_entry_link_tags('app') }}
        
        <link rel="stylesheet" href="/build/app.css">

        {% endblock %}
    
    </head>
    <body>   
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="test">
		<div class="container-fluid ">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="{{ asset('build/images/logo2.png') }}" alt="#" width="70px" height="60px"></a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse-main">
				<ul class="nav navbar-nav navbar-right">
					<li><a data-target="#"  href="index.html" class="active" style="font-family: 'Laila', serif;">Inscription
                    </a></li>
				</ul>
                <ul class="nav navbar-nav navbar-right">
					<!--<li><a data-target="#"  href="index.html" class="active" style="font-family: 'Laila', serif;">Connexion</a></li>-->
                    <button type="button" class="btn btn-primary btn-lg">Large</button>
				</ul>
                <ul class="nav navbar-nav">
                    <li><a data-target="#"  href="index.html" class="active" style="font-family: 'Laila', serif;">Accueil</a>
                    </li>				
                </ul>
			</div>
		</div>
	</nav>

        
            {% block body %}{% endblock %}
 
    <footer class="container-fluid text-center">
        <img src="{{ asset('build/images/logo2.png') }}" alt="#" class="responsive">
    </footer>
            
            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}

                <script src="/build/runtime.js"></script>
                <script src="/build/scroll-down.js"></script>
                <script src="/build/app.js"></script>
                
            {% endblock %}
    </body>
</html>
