{% extends "base.html.twig" %}

{% block stylesheet %}
    {{ encore_entry_link_tags('') }}
    <link rel="stylesheet" href="/build/InfoPersoForm.css">
{% endblock %}

{% block body %}

    <br><br><br><br><br><br><br><br><br>

    <h1>TEST</h1>
    <br><br>
    <label>Recherche</label>
    <input type="text" name="country" id="country" class="form-control input-lg" autocomplete="off" placeholder="country"/>

    <script>
    
    </script>


{% endblock %}