{% extends "base.html.twig" %}

{% block stylesheet %}
    {{ encore_entry_link_tags('') }}
    <link rel="stylesheet" href="/build/InfoPersoForm.css">
{% endblock %}

{% block body %}

    <script>
        function maFonction()
        {
            document.getElementById("test").style.backgroundColor = "rgb(255, 255, 255)";
            document.getElementById("test").style.boxShadow = "1px 3px 12px rgb(0, 0, 0)";
            document.getElementById("elem-menu").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu2").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu3").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu4").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu5").style.color = "rgb(194, 23, 42)";
            document.getElementById("elem-menu6").style.color = "rgb(194, 23, 42)";
                  
        }

        maFonction();

        {# function saisir_poid(){
        Swal.fire({
            title: 'Saisissez votre poid',
            html:
                '<input id="swal-input1" class="swal2-input">' +
                '<input id="swal-input2" class="swal2-input">',
            type: 'question',
            heightAuto:false,
            showConfirmButton: false,
            backdrop:'rgb(0,0,0,0.92)',
            width:'500px',
            confirmButtonText: 'Valider',
            progressSteps: ['1', '2']
            timer: 2000
            })
        } #}

        {# function saisir_poid(){
            Swal.mixin({
            customClass: {
                confirmButton: 'mick',
                cancelButton: 'mick'
            },
            buttonsStyling: false,
            showCancelButton: true,
            width:'500px',
            type:'question',
            confirmButtonText: 'CONTINUER',
            cancelButtonText: 'PLUS TARD',
            backdrop:'rgb(0,0,0,0.92)',
            }).queue([
            { // Si il veut modifier maintenant ou une autre fois
                title: '<h1>ATTENTION</h1>',
                type:'warning',
                html:
                    '<p class="testalert">Les informations que vous avez renseignez sur le site pour votre suivi personnel ne sont plus à jour, voulez vous les mettre à jour maintenant ou plus tard ?</p>'
            },
            { // Si il a pas indiqué depuis 1 semaine
                title: 'Votre poid après une semaine de programme ?',
                confirmButtonText: 'SUIVANT',
                html: 
                    '<input id="swal-input1" class="swal-input">',
            },
            { // Si il a pas indiqué depuis 1 semaine
                title: 'Votre temps d\'activité physique cette semaine ?',
                confirmButtonText: 'TERMINER',
                html: 
                    '<input id="swal-input2" class="swal-input">',
            },
            ]).then((result) => {
            if (result.value) {
                Swal.fire({
                title: 'Informations enregistrés !',
                type: 'success',
                backdrop:false,
                position:'bottom-end',
                heightAuto:false,
                showConfirmButton: false,
                timer: 2000,
                html:
                    JSON.stringify(result.value)
                })
            }
            })
        } #}

    function saisir_poid2(){
        Swal.mixin({
        customClass: {
                confirmButton: 'mick',
                cancelButton: 'mick'
        },
        buttonsStyling: false,
        showCancelButton: true,
        width:'500px',
        type:'question',
        input:'text',
        confirmButtonText: 'CONTINUER',
        cancelButtonText: 'PLUS TARD',
        backdrop:'rgb(0,0,0,0.92)'
        }).queue([
        {   // Si il veut modifier maintenant ou une autre fois
            title: '<h1>ATTENTION</h1>',
            type:'warning',
            html:
                    '<p class="testalert">Les informations que vous avez renseignez sur le site pour votre suivi personnel ne sont plus à jour, voulez vous les mettre à jour maintenant ou plus tard ?</p>',
            input:null
        },
        {   // Si il a pas indiqué depuis 1 semaine
            input:'text',
            title: 'Votre poid après une semaine de programme ?',
            confirmButtonText: 'SUIVANT',
        },
        {   // Si il a pas indiqué depuis 1 semaine
            input:'text',
            title: 'Votre temps d\'activité physique cette semaine ?',
            confirmButtonText: 'TERMINER',
        },
        ]).then((result) => {
        if (result.value) {
            Swal.fire({
            title: 'Informations enregistrés !',
            type: 'success',
            backdrop:false,
            position:'bottom-end',
            heightAuto:false,
            showConfirmButton: false,
            timer: 2000,
            html:
                console.log(result.value),
            })
        }
        })
    }

    </script>


    {# 
        {% if dateTemps | date('%d') >= 6 %}
            {{ dateTemps |date('%d') }}
        {% endif %}
    #}

    <div id="homep" class="container-fluid">
            <div class="landing-textp">
                <div class="case_connexion">
                    <div class=eqcss>
                        <h2 class="titre_co">DETAILS DE LA RECETTE</h2>
                        <hr align=center width="20%">
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <img class="img_rece" src="https://www.cuisine-etudiant.fr/image/recette/400250/01f1e352c5ff38c799c75767834a2575554c694d-poivrons-aux-oeufs.jpg" alt="" style="width:100%;max-width:400px;">
                        </div>
                        <div class="col-sm-5">
                            <p class="detail_r_titre"><i class="fas fa-utensils"></i> Poivrons aux œufs</p>
                            <br><br>
                            <p class="detail_r_elem"><i class="fas fa-award"></i>Difficulté : Facile</p>
                            <p class="detail_r_elem"><i class="fas fa-stopwatch"></i>Temps de préparation :  13 min</p>
                            <p class="detail_r_elem"><i class="fas fa-weight"></i></i>Nombre de calories :  385 calories</p>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5" style="text-align:justify" id="info_p">
                            <p style="text-align:center">INGREDIENTS</p>
                            <ul>
                                <li>2 avocats </li>
                                <li>le jus d'un citron</li>
                                <li>¼ de concombre, coupé grossièrement</li>
                                <li>1 petite tomate, coupée</li>
                            </ul>
                        </div>
                        <div class="col-sm-5" style="text-align:justify" id="info_p">
                            <p>DESCRIPTION</p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima ducimus id dolorum maxime, reiciendis corporis beatae omnis rem nostrum assumenda quasi, ut reprehenderit optio nihil voluptate quidem officia, nemo odio.
                                Magni illum deserunt in veniam vero quibusdam dolore error fuga? Deserunt similique quibusdam praesentium dolores expedita dolorum sapiente soluta excepturi rerum id, ullam enim esse quos ea laboriosam nobis nihil!
                                Voluptates quisquam quam sunt vitae nulla sed sint iure esse molestias cum quia vero assumenda incidunt repellendus quas ab animi aperiam, fuga illum hic eaque earum cupiditate vel! Distinctio,inventore.
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                </div>          
            </div>               
        </div>           
    </div>

    {# <button onclick="saisir_poid2()">Click me</button>  #}
{% endblock %}