/* assets/css/app.css */
/* font-family: 'Quicksand', sans-serif;*/
html, body {
	height: 100%;
	width: 100%;
}

body {
    background-color: rgb(255, 255, 255);
}

.responsive {
	width: 100%;
	max-width: 200px;
	height: auto;
}

.navbar {
	font-family: 'Quicksand', sans-serif;
	font-size: 17px;
    font-weight: bold;  
    padding: 1% 0;
    position: fixed;
    border-bottom-width: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.navbar-brand {
	min-height: 55px;
	padding: 0 15px 5px;
}


.navbar-default .navbar-nav li a{
    color: rgb(255, 255, 255);
	font-family: 'Quicksand', sans-serif;
}

.navbar-default .navbar-nav li a:hover,.navbar-default .navbar-nav li a:active {
    color: white;
	font-family: 'Quicksand', sans-serif;
	transition: 0.5s;
	text-decoration: overline;
	
}

.landing-textp{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding-top: 130px;
}

.landing-textp h1{
    font-size: 300%;
	font-weight: 700;
	font-family: 'Quicksand', sans-serif;
    color: white;
}

#homep{
	background: url(../images/baniere2.jpg) no-repeat center center fixed ;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

#home{
	background: url(../images/baniere2.jpg) no-repeat center center fixed ;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.landing-text{
	display: table-cell;
	text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 200%;
	font-weight: 700;
	font-family: 'Quicksand', sans-serif;
}

footer{
    width: 100%;
	background-color: white;
	color: rgb(194, 23, 42);
    box-shadow: 1px 3px 12px rgb(46, 45, 45);
}

footer h4{
	color: rgb(32, 32, 32);
	font-weight: bold;
}

.connexion {
	color: rgb(194, 23, 42);
	background-color: white;
	height: 40px;
	font-family: 'Quicksand', sans-serif;
	border-radius: 2rem;
	font-weight: bold;
	font-size: 16px;
	padding-top: 7px;
	margin: 5px 10px 0px 10px;
	border-color: rgb(194, 23, 42);
}

.connexion:hover {
	color: white;
	background-color: rgb(194, 23, 42);
	height: 40px;
	font-family: 'Quicksand', sans-serif;
	border-radius: 2rem;
	font-weight: bold;
	font-size: 16px;
	padding-top: 7px;
	margin: 5px 10px 0px 10px;
	border-color: white;
	transition: 0.2s;
}

.connexion i{
	font-size: 18px;
}

.scroll {
	color: white;
	font-size: 70px;
}

.scroll:hover{
	color: white;
	transition: 0.3s;
}

.description{
	padding: 100px 0px 100px 0px;
	text-align: center;
}

.description h1{
	color: rgb(194, 23, 42);
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	font-size: 40px;
}

.description p{
	text-align: center;
	color: rgb(32, 32, 32);
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}

.eqcss{
	padding-bottom: 30px;
}

.eqcss hr {
 	display: block;
  	background-color: rgb(194, 23, 42) ;
  	height: 2px;
  	border-color: rgb(194, 23, 42);
}

.eqcss2 hr {
	display: block;
	background-color: rgb(194, 23, 42) ;
	height: 1px;
	border-color: rgb(194, 23, 42);
}

.eqcss h1 {
	color: rgb(194, 23, 42);
}

.eqcss4 hr {
	display: block;
  	background-color: rgb(194, 23, 42) ;
  	height: 2px;
  	border-color: rgb(194, 23, 42);
}

#home2{
	background: url(../images/baniere2.jpg) no-repeat center center fixed;
	display: table;
	height: 40%;
	position: relative;
	width: 100%;
	background-size: cover;
}

#myImg { padding-top: 90px;}

.fonction {
	color: rgb(194, 23, 42);
	background-color: white;
	height: 60px;
	width: 90%;
	font-family: 'Quicksand', sans-serif;
	border-radius: 4rem;
	font-weight: bold;
	font-size: 16px;
	padding-top: 7px;
	margin: 20px 10px 0px 10px;
	border: solid 3px rgb(194, 23, 42);
}

.fonction:hover {
	color: white;
	background-color: rgb(194, 23, 42);
	height: 60px;
	width: 90%;
	font-family: 'Quicksand', sans-serif;
	border-radius: 4rem;
	font-weight: bold;
	font-size: 16px;
	padding-top: 7px;
	margin: 20px 10px 0px 10px;
	border-color: white;
	transition: 0.2s;
}

.fonction2 {
	color: rgb(194, 23, 42);
	background-color: white;
	height: 60px;
	width: 45%;
	font-family: 'Quicksand', sans-serif;
	border-radius: 4rem;
	font-weight: bold;
	font-size: 16px;
	padding-top: 7px;
	margin: 20px 10px 0px 10px;
	border: solid 3px rgb(194, 23, 42);
}

.fonction2:hover {
	color: white;
	background-color: rgb(194, 23, 42);
	height: 60px;
	width: 45%;
	font-family: 'Quicksand', sans-serif;
	border-radius: 4rem;
	font-weight: bold;
	font-size: 16px;
	padding-top: 7px;
	margin: 20px 10px 0px 10px;
	border-color: white;
	transition: 0.2s;
}

.case {
    box-shadow: 6px 6px 10px 6px rgba(0, 0, 0, 0.4);
    height: auto;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
}

.case2 {
    box-shadow: 6px 6px 10px 6px rgba(0, 0, 0, 0.4);
    height: auto;
	border-radius: 10px;
	padding: 20px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.case_connexion{
	background-color: white;
	/* box-shadow: 6px 6px 10px 6px rgba(0, 0, 0, 0.4); */
    height: 100%;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 18px;
	padding: 50px 0px 50px 0px;
	margin-bottom: 100px;
}

.case_supp {
    box-shadow: 6px 6px 10px 6px rgba(0, 0, 0, 0.4);
    height: auto;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
	text-align: left;
}

.case_supp a, .case_supp a:hover{
	color: rgb(49, 48, 48);
	text-decoration: none;
}

.case_tour {
	height: auto;
	width: 40%;
	/*margin-bottom: 20px;*/
	position: relative;
	left:410px;
	text-align: center;
	cursor: pointer;
}

.titre_co{
	font-size: 50px;
}

.form_co {
	width:80%;
	display:block; 
	margin:auto;
}

.form_perso {
	width:70%;
	display:block; 
	margin:auto;
}

.lien {
	color: rgb(194, 23, 42);
}

.lien:hover {
	color: rgb(194, 23, 42);
	text-decoration: none;
}

.badge-danger {
	color: white;
	background-color: red;
}

.form-error-message {
	color: red;
}

#info_p{
	text-align:center;
}

#info_p p{
	text-align: center;
	color: rgb(194, 23, 42);
	text-decoration: overline;
}

.case3{
	box-shadow: 0px 6px 10px 6px rgba(0, 0, 0, 0.4);
    height: auto;
	padding: 20px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 28px;
	margin-bottom: 30px;
	color: rgb(194, 23, 42);
}

.hr_rouge{
	background-color: rgb(194, 23, 42);
}

.btninfo {
	color: rgb(194, 23, 42);
	background-color: white;
	height: 50px;
	font-family: 'Quicksand', sans-serif;
	border-radius: 3rem;
	font-weight: bold;
	font-size: 20px;
	padding-top: 7px;
	margin: 10px 0px 0px 0px;
	border-color: rgb(194, 23, 42);
}

.btninfo:hover{
	color: white;
	background-color: rgb(194, 23, 42);
	height: 50px;
	font-family: 'Quicksand', sans-serif;
	border-radius: 3rem;
	font-weight: bold;
	font-size: 20px;
	padding-top: 7px;
	margin: 10px 0px 0px 0px;
	border-color: rgb(194, 23, 42);
	transition: 0.2s;
}

.btnprogramme {
	color: rgb(194, 23, 42);
	background-color: white;
	height: 60%;
	font-family: 'Quicksand', sans-serif;
	border-radius: 3rem;
	font-weight: bold;
	font-size: 30px;
	padding-top: 7px;
	margin: 10px 0px 0px 0px;
	border-color: rgb(194, 23, 42);
}

.btnprogramme:hover{
	color: white;
	background-color: rgb(194, 23, 42);
	height: 60%;
	font-family: 'Quicksand', sans-serif;
	border-radius: 3rem;
	font-weight: bold;
	font-size: 30px;
	padding-top: 7px;
	margin: 10px 0px 0px 0px;
	border-color: rgb(194, 23, 42);
	transition: 0.2s;
}

.eqcss3 hr{
	display: block;
	background-color: rgb(49, 48, 48) ;
	height: 1px;
	border-color: rgb(54, 54, 54);
}

#myChart2{
	height : auto;
	margin-top: 100px;
} 

#myChart3{
	height : auto;
	margin-top : 100px;
}

.mick {
	color: white;
	background-color: rgb(194, 23, 42);
	height: 40px;
	font-family: 'Quicksand', sans-serif;
	border-radius: 1rem;
	font-weight: bold;
	font-size: 18px;
	margin: 10px 20px 10px 20px;
	border-color: rgb(194, 23, 42);
}

.aide_normal{
	text-align: justify;
	color: rgb(84, 84, 85);
	font-size: 15px;
	font-weight: bold;
}

.aide_titre {
	text-align: center;
	color: rgb(194, 23, 42);
	text-decoration: overline;	
	font-size: 18px;
}

.icon_aide {
	cursor: pointer;
	margin-left: 10px;
}

.pointer{
	cursor: pointer;
}

.icon_suivi {
	margin-right: 50px;
	font-size: 40px;
}

.icon_footer {
	color: rgb(194, 23, 42);
	font-size:40px;
}
/* .testheight Not required - unless testing ;) */
.testheight {
  height:1200px;
  font-size:20px;
  text-align:center;
  padding:100px 20px;
}
.scrolltop {
	color: white;
	font-size: 50px;
	width:100%;
	bottom: 0;
	right: 0;
	text-align: right;
}
.scrollt {
	position:absolute;
	color: rgb(194, 23, 42);
	right:20px;
	bottom:20px;
	padding:20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.1s;		
}
.scrollt:hover {
	font-size: 55px;
	transition: 0.1s;	
}

.linkedin{
	color: rgb(0, 125, 183);
	background-color: white;
	height: 45px;
	font-family: 'Quicksand', sans-serif;
	border-radius: 3rem;
	font-weight: bold;
	font-size: 20px;
	padding-top: 7px;
	margin: 5px 10px 0px 10px;
	border-color: rgb(0, 125, 183);
}

.linkedin:hover {
	color: white;
	background-color: rgb(0, 125, 183);
	height: 45px;
	font-family: 'Quicksand', sans-serif;
	border-radius: 3rem;
	font-weight: bold;
	font-size: 20px;
	padding-top: 7px;
	margin: 5px 10px 0px 10px;
	border-color: rgb(0, 125, 183);
	transition: 0.2s;
}

.linkedin i{
	font-size: 22px;
}

.linkedin:hover i{
	font-size: 22px;
	transition: 1s;
	transform: rotate(360deg); /* Équivalent à rotateZ(45deg) */
}